APP_ENV="development"
APP_KEY="your_secret_key"
APP_URL="https://your-domain.com"
APP_PORT="3000"

LOG_LEVEL="info"
LOG_DIR="log"
LOG_RETENTION="3"
LOG_MAXSIZE="20"

TELEGRAM_API_ROOT="http://127.0.0.1:8081"
TELEGRAM_BOT_TOKEN="your_telegram_bot_token"

DB_HOST="127.0.0.1"
DB_PORT="5432"
DB_DATABASE="unknown"
DB_USERNAME="unknown"
DB_PASSWORD="unknown"

REDIS_HOST="127.0.0.1"
REDIS_PASSWORD=""
REDIS_PORT="6379"
REDIS_PREFIX="vitemail:"